/*==============GOOGLE FONTS==========*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans&display=swap');
/*=============== GOOGLE FONTS ===============*/


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(2, 100%, 61%);
    --first-color-alt: hsl(2, 89%, 53%);
    --title-color: hsl(233, 20%, 15%);
    --text-color: hsl(233, 4%, 35%);
    --body-color: hsl(2, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font:font-family: 'Open Sans', sans-serif; ;
    --second-font:font-family: 'Lemon', cursive; ;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 3.5rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .main {
    overflow: hidden; /* For the animations */
  }
  /*============HEADER & NAV============*/
  .header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
  }
  .nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo{
    font-family: var(--second-font);
    color: var(--first-color);
  }
  .nav-logo span{
    color: var(--title-color);
  }
  .nav-toggle{
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
  }
  /*===========home========*/
  .home,.home-container{
    position: relative;
  }
  .home-container{
    padding-top: 8rem;
    height: 100vh;
    display: grid;
    row-gap: 1rem;
  }
  .home-title{
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    margin-bottom: .75rem;
    color:var(--title-color);
  }
  .home-title span{
    display: block;
    color: var(--first-color);
  }
  .home-description,
  .home-button{
    font-weight: 600;
  }
  .home-description{
    color: var(--title-color);
    margin-bottom: 1.5rem;
  }
  .home-button{
    display: inline-block;
    background-color: var(--first-color);
    color:#fff;
    padding: 1rem 2rem;
    border-radius: 1.5rem .25rem;
  }
  .home-image{
    position: relative;
    width: 325px;
    height: 378px;
    justify-self: center;
  }
  .home-image img{
    position: absolute;
  }
  .home-liquad{
    max-width: initial;
    width: 340px;
    left:-.5rem;
  }
  .home-juice{
    width: 140px;
    transform: rotate(15deg);
    left: 1rem;
    right: 0;
    top:1rem;
    margin: 0 auto;
    animation: float-juice 4s ease-in-out infinite;
  }
  .home-apple2{
    width: 90px;
    right: 1.5rem;
    bottom: 3.5rem;
  }
  .home-apple1{
    width: 100px;
    transform: rotate(-25deg);
    top:7rem;
    left:.65rem;
  }
  .home-leaf:nth-child(1),
  .home-leaf:nth-child(6){
    width: 50px;
    transform: rotate(30deg);
  }
  .home-leaf:nth-child(2),
  .home-leaf:nth-child(4),
  .home-leaf:nth-child(5)
  {
    width: 40px;
    
  }
  /*======move sheet into position=====*/
  .home-leaf:nth-child(1){
     top:-7rem;
     right: 3rem;
  }
  .home-leaf:nth-child(2){
    transform: rotate(-60deg);
    top:1.5rem;
    left:1.25rem;
  }
  .home-leaf:nth-child(3){
    width: 20px;
    transform: rotate(-15deg);
    top:8rem;
    right: 5rem;
  }
  .home-leaf:nth-child(4){
    bottom: 4rem;
    left: 3rem;
  }
  .home-leaf:nth-child(5){
    transform: rotate(-30deg);
    bottom: 0;
    right: 5rem;
  }
  .home-leaf:nth-child(6){
    bottom: -5rem;
    left: 3rem;
  }
  .home-shape-small,
  .home-shape-big{
    background-color: hsl(2, 100%, 88%);
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
  }
  .home-shape-small{
    width: 200px;
    height: 200px;
    top:-5rem;
    left: -5rem;
  }
  .home-shape-big{
    width: 250px;
    height: 250px;
    top:17rem;
    right: -8rem;
  }
  .home-shape-bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
  }
  /*======animation juice======*/
  @keyframes float-juice{
    0%{
      transform: translateY(0) rotate(15deg);  
    }
    50%{
        transform: translateY(-1.5rem) rotate(15deg);  
      }
      100%{
        transform: translateY(0) rotate(15deg);  
      }
  }
  @media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        background-color: var(--body-color);
        left:0;
        top:-100%;
        width: 100%;
        padding: 3.5rem 0 3rem;
        box-shadow: 0 8px 24px hsla(2, 100%, 35%, .2);
        border-radius: 0 0 2rem 2rem;
        transition: top .4s;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }
    .nav-link,
    .nav-close{
        color:var(--title-color);
    }
    .nav-link{
    font-weight: 600;
    transition: color .4s;
    }
    .nav-link:hover{
        color:var(--first-color);
    }
    .nav-close{
        position: absolute;
        top:1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-image{
        position: absolute;
        width: 100px;
        top:-.75rem;
        left:1.5rem;
    }
    .show-menu{
        top:0;
    }
  }
  /*=======for medium device=======*/
  @media screen and (min-width:767px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav-toggle,
    .nav-close,
    .nav-image{
        display: none;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
    }
    .home-container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 4rem;
        padding-top: 4rem;
    }
  }
  /*====for large device=====*/
  @media screen and(min-width:1024px){
    .home-image{
      width: 530px;
      height: 590px;
    }
    .home-liquad{
      width: 530px;
    }
    .home-juice{
      width: 220px;
      left: 0;
      top:1.5rem
    }
    .home-apple1{
      width: 180px;
      top:10rem;
      left:-1rem;
    }
    .home-apple1{
      width: 185px;
      right: .5rem;
      bottom: 5.5rem;
    }
    .home-leaf:nth-child(1),
    .home-leaf:nth-child(6){
      width: 70px;
      
    }
    .home-leaf:nth-child(2),
    .home-leaf:nth-child(4),
    .home-leaf:nth-child(5)
    {
      width: 60px;
      
    }
    .home-leaf:nth-child(5){
       width: 60px;
    }
    .home-leaf:nth-child(1){
       top: -1rem;
       right: 2rem;
    }
    .home-leaf:nth-child(2){
      top:2.5rem;
      left:2.25rem;
    }
    .home-leaf:nth-child(3){
      width: 40px;
      top:12rem;
      right: 10rem;
    }
    .home-leaf:nth-child(4){
      bottom: 8rem;
      left:4.5rem;
    }
    .home-leaf:nth-child(5){
      right: 10rem;
    }
    .home-leaf:nth-child(6){
      bottom: 1rem;
      left:-8rem;
    }
    .home-shape-small{
      width: 400px;
      height: 400px;
      top:0;
      left:-15rem;
    }
    .home-shape-big{
      width: 500px;
      height: 500px;
      top:22rem;
      right: -14rem;
    }
  }
  @media screen and (min-width:1048px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  }